/* ====================================
             common css
===================================== */
nav{
    background: #1C1E53;
    padding: 16px 0;
}
 a{
    text-decoration: none;
 }
 .common-title h2{
     font-family: "Poppins", sans-serif;
     color: black;
     font-size: 48px;
     font-weight: 600;
}
.common-title p{
     font-family: "Poppins", sans-serif;
     color: rgba(0, 0, 0,0.7);
     font-size: 16px;
     font-weight: 400;
     width: 350px;
}
.box {
    display: flex;
    }

    .get-in-touch{
    position: relative;
}

.get-in-touch i{
    color: #2405F2;  
    position: absolute;
    top: 50%;
    left: 185px;
    transform: translateY(-50%);
    transition: .4s;
}
 .get-in-touch:hover i{
    left: 220px;
}
 /* ====================================
             common css
===================================== */

/* ====================================
             navbar design starts
===================================== */
.nav-btn{
     font-family: "Poppins", sans-serif;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
    display: inline-block;
}
.navbar-nav{
     column-gap: 32px ; 
}
.nav-link{
    font-family: "Poppins", sans-serif;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    padding-right: 0px !important;
    padding-left: 0px  !important;
}
.nav-link:hover{
    color: #fff;
}
/* ====================================
       banner design starts
===================================== */

.banner{
    background: #1C1E53;
    padding: 126px 0px;

}
.banner .box{
    align-items: center;
}

.banner h1{
     font-family: "Poppins", sans-serif;
     color: #fff;
     font-size: 54px;
     font-weight: 600;
}

.banner p{
     font-family: "Poppins", sans-serif;
     width: 562px;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 48px;
}

 .banner .banner-btn{
    background: #FCD980;
    font-family: "Poppins", sans-serif;
     color: black;
     font-size: 16px;
     font-weight: 500;
     border: 2px transparent solid;
    border-radius: 41px;
    padding: 16px 48px;
    transition: .4s;
    margin-right: 32px;

}

.banner .banner-btn:hover{
    background: transparent ;
    border-color: #FCD980;
    color: #FCD980;
}

 .banner .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #f2f2f7;  
     font-size: 18px;
     font-weight: 500;
}

.banner .get-in-touch i{
    color: #efeef5;  
    position: absolute;
    top: 50%;
    left: 185px;
    transform: translateY(-50%);
    transition: .4s;
}
 .banner .get-in-touch i{
    left: 120px;
}
 .banner .get-in-touch:hover i{
    left: 140px;
    
}
 .banner .get-in-touch:hover{
   color: #fff;
    
}
/* ====================================
       banner design ends
===================================== */

/* ====================================
       work section design starts
===================================== */


.work{
    background: #F4F6FC;
    padding-top:128px;
}


 .work .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 18px;
     font-weight: 500;
     
}
.work  .col-lg-7 .row{
    row-gap: 48px;
}

.work  .col-lg-7 h3{
     font-family: "Poppins", sans-serif;
      color: #030303;  
     font-size: 32px;
     font-weight: 500;
     padding-top: 16px;
     padding-bottom: 8px;
}
.work  .col-lg-7 p{
     font-family: "Poppins", sans-serif;
      color: rgba(40, 41, 56,0.7);  
     font-size: 16px;
     font-weight: 400;
     width: 303px;

}

/* ====================================
       work section design ends
===================================== */


/* ====================================
       project section design starts
===================================== */
.project{
    padding: 128px 0px;
}
.project .box{
    align-items: center;
    justify-content: space-between;
}
 .project .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 18px;
     font-weight: 500;

     
}
 .project .get-in-touch i{
    left: 100px;
}
 .project .get-in-touch:hover i{
    left: 120px;
}
.project .row{
    padding-top: 64px;
}

.project .project-content{
    position: relative;
    overflow: hidden;
}
 .project .overlay{
    width: 52%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: -52%;
     transition: .4s;
     padding-top: 312px;
     padding-left: 48px;
     padding-right: 35px;
     padding-bottom: 16px;
     background: linear-gradient(rgba(28, 30, 83,0.42),#1C1E53);
 }
 .project .project-content:hover .overlay{
    left:0;
   
 }
 .project .project-content h3{
         font-family: "Poppins", sans-serif;
      color: #fff;  
     font-size: 24px;
     font-weight: 600;
 }
 .project .project-content p{
         font-family: "Poppins", sans-serif;
      color: #fff;  
     font-size: 16px;
     font-weight: 500;
     width: 290px;
 }
 .project .project-content .get-in-touch i{
    left: 120px;
    color: #FCD980;
}
 .project .project-content .get-in-touch:hover i{
    left: 140px;
}
 .project .project-content .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #FCD980;  
     font-size: 18px;
     font-weight: 500;

}

.project .col-lg-4 img:last-child{
    margin-top: 32px;
}




.project .project-card-content{
    position: relative;
    overflow: hidden; 
}
 .project .overlay-card{
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -100%;
    left: 0%;
     transition: .4s;
     padding-top: 129px;
     padding-left: 56px;
     padding-right: 36px;
     padding-bottom: 16px;
     background: linear-gradient(rgba(28, 30, 83,0.42),#1C1E53);
 }
 .project .project-card-content h3{
         font-family: "Poppins", sans-serif;
      color: #fff;  
     font-size: 24px;
     font-weight: 600;
     width: 250px;
 }
 .project .project-card-content:hover .overlay-card{
    bottom: 50%;
   
 }
  .project .project-card-content .get-in-touch i{
    left: 130px;
    color: #FCD980;
}
 .project .project-card-content .get-in-touch:hover i{
    left: 150px;
}
 .project .project-card-content .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #FCD980;  
     font-size: 18px;
     font-weight: 500;

}
/* ====================================
       project section design ends
===================================== */
/* ====================================
       feature section design starts
===================================== */

.feature{
    background: #F4F6FC;
     padding: 128px 0px; 
}
.feature .row{
    row-gap: 24px;
}
.feature .common-title h2{
    margin:auto;
    width:630px;
    text-align: center;
    padding-bottom: 47px;
 }
 .feature .common-title p{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: auto;
 }

 .feature .card{
    width: 100% !important;
    padding-top: 58px !important;
    padding-bottom: 48px !important;
    padding-left: 48px !important;
    padding-right: 32px !important;
    border-radius: 0px;
    border: 0px;
 }
 .feature img{
    width: 8%;


}

.feature .card-body{
    padding: 0 !important;
}
.feature .card-title{
    font-family: "Poppins", sans-serif;
    color: #030303;  
    font-size: 24px;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 8px;
    
}
.feature .card-text{
    font-family: "Poppins", sans-serif;
    color: rgba(3, 3, 3,0.7);  
    font-size: 16px;
    font-weight: 400;
    
}
/* ====================================
       feature section design ends
===================================== */
/* ====================================
       FAQ section design starts
===================================== */
.faq{
    padding: 128px 0px;
}
 .faq .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 18px;
     font-weight: 500;
    padding-top: 16px;
     
}

.faq .accordion-header span{
    margin-right: 59px;
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 24px;
     font-weight: 500;
}
.faq .accordion-button{
    
     font-family: "Poppins", sans-serif;
      color: #282938;  
     font-size: 24px;
     font-weight: 500;
}
.faq .accordion-body{
    margin: 0px 83px;
}
/* ====================================
       FAQ section design ends
===================================== */