/* ====================================
             common css
===================================== */
nav{
    background: #1C1E53;
    padding: 16px 0;
}
 a{
    text-decoration: none;
 }
 .common-title h2{
     font-family: "Poppins", sans-serif;
     color: black;
     font-size: 48px;
     font-weight: 600;
}
.common-title p{
     font-family: "Poppins", sans-serif;
     color: rgba(0, 0, 0,0.7);
     font-size: 16px;
     font-weight: 400;
     width: 350px;
}
.box {
    display: flex;
    }

    .get-in-touch{
    position: relative;
}

.get-in-touch i{
    color: #2405F2;  
    position: absolute;
    top: 50%;
    left: 185px;
    transform: translateY(-50%);
    transition: .4s;
}
 .get-in-touch:hover i{
    left: 220px;
}
 /* ====================================
             common css
===================================== */

/* ====================================
             navbar design starts
===================================== */
.nav-btn{
     font-family: "Poppins", sans-serif;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
}
.navbar-nav{
     column-gap: 32px ; 
}
.nav-link{
    font-family: "Poppins", sans-serif;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    padding-right: 0px !important;
    padding-left: 0px  !important;
}
.nav-link:hover{
    color: #fff;
}
/* ====================================
       banner design starts
===================================== */

.banner{
    background: #1C1E53;
    padding: 126px 0px;

}
.banner .box{
    align-items: center;
}

.banner h1{
     font-family: "Poppins", sans-serif;
     color: #fff;
     font-size: 54px;
     font-weight: 600;
}

.banner p{
     font-family: "Poppins", sans-serif;
     width: 562px;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 48px;
}

 .banner .banner-btn{
    background: #FCD980;
    font-family: "Poppins", sans-serif;
     color: black;
     font-size: 16px;
     font-weight: 500;
     border: 2px transparent solid;
    border-radius: 41px;
    padding: 16px 48px;
    transition: .4s;
    margin-right: 32px;

}

.banner .banner-btn:hover{
    background: transparent ;
    border-color: #FCD980;
    color: #FCD980;
}

 .banner .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #f2f2f7;  
     font-size: 18px;
     font-weight: 500;
}

.banner .get-in-touch i{
    color: #efeef5;  
    position: absolute;
    top: 50%;
    left: 185px;
    transform: translateY(-50%);
    transition: .4s;
}
 .banner .get-in-touch i{
    left: 120px;
}
 .banner .get-in-touch:hover i{
    left: 140px;
    
}
 .banner .get-in-touch:hover{
   color: #fff;
    
}
/* ====================================
       banner design ends
===================================== */

/* ====================================
       work section design starts
===================================== */


.work{
    background: #F4F6FC;
    padding-top:128px;
}


 .work .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 18px;
     font-weight: 500;
     
}
.work  .col-lg-7 .row{
    row-gap: 48px;
}

.work  .col-lg-7 h3{
     font-family: "Poppins", sans-serif;
      color: #030303;  
     font-size: 32px;
     font-weight: 500;
     padding-top: 16px;
     padding-bottom: 8px;
}
.work  .col-lg-7 p{
     font-family: "Poppins", sans-serif;
      color: rgba(40, 41, 56,0.7);  
     font-size: 16px;
     font-weight: 400;
     width: 303px;

}

/* ====================================
       work section design ends
===================================== */


/* ====================================
       project section design starts
===================================== */
.project{
    padding: 128px 0px;
}
.project .box{
    align-items: center;
    justify-content: space-between;
}
 .project .get-in-touch a{
     font-family: "Poppins", sans-serif;
      color: #2405F2;  
     font-size: 18px;
     font-weight: 500;

     
}
 .project .get-in-touch i{
    left: 100px;
}
 .project .get-in-touch:hover i{
    left: 120px;
}
.project .row{
    padding-top: 64px;
}

.project .col-lg-8{
    position: relative;
    overflow: hidden;
}
 .project .overlay{
    width: 52%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: -52%;
     transition: .4s;
 }
 .project .col-lg-8:hover .overlay{
    left:0;
   
 }
/* ====================================
       project section design ends
===================================== */
